html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0e0e0e;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 250px; 
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 15px;
}
/* Adicione essas regras CSS para criar o efeito de revelação apenas para o texto específico */

.reveal-text {
    position: relative;
}

.reveal-text::after {
    content: ''; /* Cria um pseudo-elemento para o fundo */
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e; /* Cor de fundo, ajuste conforme necessário */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Coloca o fundo abaixo do texto */
    animation: revealText 2s ease-in-out forwards; /* Define a animação de revelação e mantém o estado final */
}

@keyframes revealText {
    to {
        width: 0; /* Termina com largura zero, revelando o texto */
    }
}

h1{
    color: #fff;
    font-size: 800%;
    margin: 0;
    text-align: center;
}

h2 {
    color: #B6007E;
    font-weight: bold; /* Ajusta o peso da fonte para destacar o título */
    margin: 10px 0; /* Adiciona espaçamento superior e inferior para melhorar a separação */
    font-size: 47px; /* Ajusta o tamanho da fonte conforme necessário */
    text-align: center; /* Centraliza o texto para um visual mais equilibrado */
}

h3 {
    color: #ffffff;
    font-weight: bold; /* Ajusta o peso da fonte para destacar o título */
    margin: 10px 0; /* Adiciona espaçamento superior e inferior para melhorar a separação */
    font-size: 32px; /* Ajusta o tamanho da fonte conforme necessário */
    text-align: center; /* Centraliza o texto para um visual mais equilibrado */
}

h4 {
    color: #B6007E;
    font-weight: bold; /* Ajusta o peso da fonte para destacar o título */
    margin: 10px 0; /* Adiciona espaçamento superior e inferior para melhorar a separação */
    font-size: 24px; /* Ajusta o tamanho da fonte conforme necessário */
    text-align: center; /* Centraliza o texto para um visual mais equilibrado */
}


p {
    color: #fff;
    font-weight: normal;
    margin: 0;
    text-align: justify;
    line-height: 1.6; /* Ajusta a altura da linha para melhor legibilidade */
    font-size: 16px; /* Ajusta o tamanho da fonte conforme necessário */
}

.subtitulo {
    color: #ccc; /* Exemplo: altere a cor conforme necessário */
    font-size: 18px; /* Exemplo: ajuste o tamanho da fonte conforme necessário */
    margin-top: 10px; /* Exemplo: ajuste a margem superior conforme necessário */
    text-align: center;
}

/* Adiciona um espaçamento adicional no final de cada parágrafo para melhorar a leitura */
p::after {
    content: '\00a0'; /* Adiciona um caractere de espaço não quebrável */
    display: block;
    height: 1em; /* Ajusta a altura conforme necessário */
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #B6007E;
}

#inicio, #sobre, #portfolio, #habilidades, #contato {
    min-height: 100vh;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0e0e0e;
    padding-top: 200px;  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 91%;
    height: 70px;
    background-color: #0e0e0e;
    padding: 10px 20px;
    text-align: center;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center; /* Adiciona o alinhamento vertical */
}

nav ul li {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}


#habilidades {
    /* Adicione estilos conforme necessário para a seção de habilidades */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espaçamento entre os itens da grade */
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100%; /* Certifica-se de que a largura da imagem é 100% do contêiner */
    max-width: 50px; /* Defina a largura máxima da imagem conforme necessário */
}

.grid-item p {
    margin-top: 10px; /* Ajuste conforme necessário */
    color: #fff; /* Cor do texto */
}
.subtitulo2 {
    color: #ccc; /* Exemplo: altere a cor conforme necessário */
    font-size: 16px; /* Exemplo: ajuste o tamanho da fonte conforme necessário */
    margin-top: 10px; /* Exemplo: ajuste a margem superior conforme necessário */
    text-align: center;
}
